//
   Created by Pranit Anand on 29-10-2014.
//
   Created by Pranit Anand on 29-10-2014.
extends layout
block content
    div.container
        p Categories Items
        table(class="table table-striped table-hover " border="2" width="300")
            thead
                tr(class="success")
                    th ID
                    th Name
                    th Qty pr unit
                    th Unit Price
                    th Units in Stock
                    th Units on Order
                    th reorder Level
                    th Discontinued
                        each i in itemsList
                                    tr(class="warning")
                                        td #{i._id}
                                            td #{i.name}
                                                td #{i.quantityPerUnit}
                                                    td #{i.unitPrice}
                                                        td #{i.unitsInStock}
                                                            td #{i.unitsOnOrder}
                                                                td #{i.reorderLevel}
                                                                    td #{i.discontinued}
        table(class="table table-striped table-hover ")
                tr(class="success")
                    td
                        td
                            td
                                a(href='/categories') Back

