extends layout
block content
    div.container
        p Details of clicked customer
        table(border="1" class="table table-striped table-hover ")
              thead
                    tr(class="warning")
                        th _id
                        th companyName
                        th contactName
                        th contactTitle
                        th address
                        th city
                        th region
                        th postalCode
                        th country
                        th phone
                        th fax
              each o in custDets
                    tr(class="info")
                        td #{o._id}
                             td #{o.companyName}
                                td #{o.contactName}
                                    td #{o.contactTitle}
                                       td #{o.address}
                                           td #{o.city}
                                               td #{o.region}
                                                    td #{o.postalCode}
                                                        td #{o.country}
                                                           td #{o.phone}
                                                                td #{o.fax}
        table(border="1" class="table table-striped table-hover ")
                    tr(class="success")
                        td
                            td
                                td
                                    a(href='#') Back