extends layout
style
    body {
        font-family: Verdana;
        font-size: 13px;
        background: #eee;
            }
                h1 { font-size: 22px; color: #464646; }
                h2 { font-size: 18px; }
                h3 { font-size: 14px; }
                a { color: #C2575B; text-decoration: none; }
                a:hover { color: #F76F76; }

body
block content
    div.container
     p Here is the presentation of our group for CA3
        hr
        p Basically we have a SinglePageApplication(SPA) which has a backend implemented with nodejs and a frontend implemented with jade which actually renders the pages server side and loads them
        hr
        a(href='Docs/documentation.docx') Documentation
        hr
        a(href='https://github.com/pranit360/CA3') Link to GitHub
        h1= title
        p Welcome to #{title}
            hr
            a(href='Docs/addO.html') Add order
            p Below are some links
            table(border="1" class="table table-striped table-hover ")
                tr(class="success")
                    td
                        a(href='/categories') Categories
                            tr(class="success")
                                td
                                    a(href='/products') Products
                                        tr(class="success")
                                            td
                                                a(href='/employees') Employees
                                                    tr(class="success")
                                                        td
                                                            a(href='/customers') Customers
        p Follows the List of orders
            table(border="1" class="table table-striped table-hover ")
                thead
                    tr(class="warning")
                        th id
                            th date
                                th name
                                    th address
                                        th Edit
                                            th Delete
                                                each o in orderList
                                                    tr(class="info")
                                                        td
                                                           a(href='orderDetails/'+o._id) #{o._id}
                                                                    td #{o.orderDate}
                                                                        td #{o.shipName}
                                                                            td #{o.shipAddress}
                                                                                td
                                                                                    button(type="button", class="btn btn-primary")
                                                                                        Edit
                                                                                            class="EDIT"
                                                                                                td
                                                                                                 a(href='/orders/'+o._id) DELETE
